<div>
  <div class="home-header">
    <h1>Welcome {{currentUser}}</h1>
  </div>
  <div class="home-existing-content">
    sources
  </div>
  <div class="home-existing-content">
    notes
  </div>
</div>
<!-- 
<div class="video-player-wrapper"> -->
  
  <!-- <iframe
    width="640"
    height="360"
    [src]="videoSource"
    frameborder="0"
    allowfullscreen
  ></iframe> -->
  <!-- <iframe width="640" height="360" [src]="videoSource" frameborder="0" allowfullscreen></iframe>
</div>
<div>
	<h2>Angular PDF</h2>
  <iframe width="640" height="360" [src]="pdfSource" frameborder="1" allowfullscreen></iframe>
 -->
<!-- </div>   -->
