body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.source-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif
}

.source-header input[type="text"] {
    padding: 8px;
    width: 80%;
    margin-top: 10px;
}

.sources {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.source {
    background-color: #fff;
   border: 2px solid #3498db;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    text-align: center;
}

.source:hover {
    background-color: #3498db;
    color: #fff;
    box-shadow: 0 8px 16px rgba(52, 152, 219, 0.5);
}
#add-source {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;

}
#add-source:hover {
    background-color: #2980b9;
}


