<header class="source-header">
    <h1>Sources:</h1>
    <input type="text" placeholder="Search">
</header>
<div class="source-toolbar">
    <p>sort by <button>sort</button></p>
    <button id="add-source" mat-raised-button (click)="openDialog()">Add</button>
    
</div>
<div class="sources" >
    <div *ngIf="isLoading">Loading...</div>
    <div *ngIf="error">{{ error }}</div>
    <div class="source" *ngFor="let source of sources"(click)="goToSource(source)" >
        <p>{{source.name}}</p>
        
    </div>
</div>



