<h2 mat-dialog-title class="dialog-title">Create Source <button mat-dialog-close class="close-button">X</button></h2>
<mat-dialog-content class="dialog-content">
    <div class="source-type">
        <p>Select source type
            <select>
                <option value="PDF">PDF</option>
                <option value="VIDEO">Video</option>
            </select>
        </p>
    </div>
    <div class="format-type">
        <p>Select format type
            <select>
                <option value="Link">Link</option>
                <option value="File">File</option>
            </select>
        </p>
    </div>
    <mat-dialog-actions class="dialog-actions">
        <button class="continue-button">Continue</button>
    </mat-dialog-actions>
</mat-dialog-content>