<dialog id="project-add-source">
	<div class="project-add-source-body">
		<div class="project-add-source-header">
			<h2>Add Source</h2>
			<button (click)="closeDialog()">X</button>
		</div>
		<div class="project-add-source-content">
			<div *ngIf="sources.length < 1">
				<p>All sources have been added</p>
			</div>
			<div class="source-selection" *ngFor="let source of sources">
				<input class="source-selection" type="checkbox" [value]="source.id"  [checked]="isSelected(source.source_Id)" (change)="toggleSelection($event, source.source_Id)">{{source?.name}}
			</div>
		</div>
		<div class="project-add-source-footer">
			<button (click)="onSubmit()">Add</button>
			<button (click)="closeDialog()">Cancel</button>
		</div>
	</div>
</dialog>