<header>
    <h2 mat-dialog-title class="dialog-title create-source-title">Create {{type}} Source <button mat-dialog-close class="close-button">X</button></h2>
</header>
<div class="dialog-content">
    <div class="source-type">
        <p>Url:</p>
        <input type="text" placeholder="Enter URL" class="url-input">
    </div>
    <div class="source-type">
        <p>Name:</p>
        <input type="text" placeholder="Enter Name" class="name-input">
    </div>
    <div class="source-type">
        <p>Author:</p>
        <input type="text" placeholder="Enter Author" class="author-input">
    </div>
    <div class="source-type">
        <p>Publisher:</p>
        <input type="text" placeholder="Enter Publisher" class="publisher-input">
    </div>
    <div class="source-type">
        <p>Publish Year:</p>
        <input type="text" placeholder="Enter Publish Year" class="year-input">
    </div>
    <div class="dialog-actions">
        <button class="clear-button">Clear</button>
        <button class="create-button">Create</button>
    </div>
</div>
