<div class="project-page">
    <div class="project-content">
        <div class="project-header">
            <div class="project-header-details">
                <h1>{{projectTitle}}</h1>
                <p>{{projectDescription}}</p>
            </div>
            <div class="project-header-buttons">
                <button (click)="deleteProject()">Delete</button>
                <button (click)="openExportSource()">Export</button>
                <button (click)="openAddSource()">add</button>
            </div>
        </div>
        <div class="project-body">
            <div *ngIf="sources.length < 1">
                <h2>No sources</h2>
            </div>
            <div class="source" *ngFor="let source of sources">
                <div>
                    <p>Title: {{source.name}}</p>
                    <p>Author: {{parseMetadata(source.meta_Data).author}}</p>
                    <p>Publisher: {{parseMetadata(source.meta_Data).publisher}}</p>
                    <p>Published: {{parseMetadata(source.meta_Data).publishYear}}</p>
                    <button class="source-goto" (click)="goToSource(source)">Go to source</button>
                </div>
               <button class="source-delete" (click)="deleteSource(source.source_Id)">X</button>
            </div>
            
        </div>
    </div>
</div>
<app-add-source-project [id]="id"></app-add-source-project>
<app-export-source [sources]="sources"></app-export-source>
```