<div class="project-page">
    <div class="project-content">
        <div class="project-header">
            <div class="project-header-details">
                <h1>{{projectTitle}}</h1>
                <p>{{projectDescription}}</p>
            </div>
            
            <button (click)="deleteProject()">Delete</button>
        </div>
        <div class="project-body">
            <div class="source" *ngFor="let source of sources">
                <div>
                    <p>Title: {{source.name}}</p>
                    <p>Author: {{parseMetadata(source.meta_Data).author}}</p>
                    <p>Publisher: {{parseMetadata(source.meta_Data).publisher}}</p>
                    <p>Published: {{parseMetadata(source.meta_Data).publishYear}}</p>
                    
                </div>
               <button>X</button>
            </div>
            
        </div>
    </div>
    <div class="project-aside">
        <div class="project-aside-header">
            <h2>Project Sources</h2>
            <button (click)="openAddSource()">add</button>
        </div>
        <div>
            
        </div> 
    </div>
</div>
<app-add-source-project [id]="id"></app-add-source-project>