<div class="note" *ngIf="currentNote">
	<div class="note-header">
						<h3>{{parseNoteContent(currentNote)?.note_Title}}</h3>
						<button (click)="onDeleteNote(currentNote.note_Id)">X</button>
					</div>
					<div class="note-body">
						<p>{{parseNoteContent(currentNote)?.note_Content}}</p>
					</div>
					<div class="note-tags">
					<div class="note-footer">
						<div class="tags" *ngFor="let currentTag of tags">
							<app-tag [tag]="currentTag"></app-tag>
						</div>
					</div>
					<label>...</label>
					</div>	
				</div>
