<div class="note-viewer-page">
<header class="note-header">
    <h1>Notes</h1>
    <input id="search-input" type="text" placeholder="Search" [(ngModel)]="searchInput">
    <button id="search-note" (click)="searchNotes()">Search</button>
    <button id="filter-tag" (click)="openDialog()"> Filter</button>
    <button id="reset" (click)="resetNotes()"> Reset</button>
    <div class="filter-tags">
       
            <div class="tag-content" *ngFor="let currentTag of filterTags" (click)="removeTag(currentTag)">
                <p> {{currentTag}} </p>
            </div>
        
    </div>
</header>
<div class="notes">
    <div >
        <div *ngIf="notes && notes.length">
            <div *ngFor="let currentNote of notes">
              <app-note class="note" [currentNote]="currentNote" (deleteNote)="deleteNote($event)"></app-note>
            </div>
          </div>
    </div>
</div>

</div>
<app-tag-filter (close)="closeDialog()" (tagsFiltered)="onSubmit($event)" ></app-tag-filter>



